{% extends 'base.html' %}
{% load static %}

{% block title %}Our Events - D-ICT CHANNELS{% endblock %}

{% block header %}
<div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Events</h1>
            <a href="{% url 'home' %}" class="h5 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'events' %}" class="h5 text-white">Events</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- events Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <span class="fw-bold text-primary text-uppercase you2"> RolaSoft Events</span> <br>
            <span class="mb-0 you"> Get Ready to Dive into the World of Technology at our Upcoming IT Event </span>
        </div>
        <div class="row g-5">
            {% for event in events %}
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h6 class="mb-3 ola"> <b> {{ event.title }} </b></h6>
                    <p class="m-0">{{ event.description }}</p>
                    {% if event.link %}
                    <a class="btn btn-lg btn-primary rounded" href="{{ event.link }}">
                        <i class="bi bi-arrow-right"></i>
                        <span class="sr-only">{{ event.title|lower }}</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <b class="text-white mb-3">Speak with our experts</b>
                    <p class="text-white mb-3">You can call us or send a message for any of our services</p>
                    <span class="text-white mb-0 ola">+234 8032867212, +234 8082171242</span>
                    <a class="btn btn-lg btn-primary rounded" href="#">
                        <i class="bi bi-arrow-right"></i>
                        <span class="sr-only">what7sap2</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- events End -->


{% endblock %}